.content{
    width: 80%;
    background: #a6e0b6;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
}
.questionBlock{
    margin: 5px 20px;
}
.questionBlock li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.questionBlock h3{
    text-align: center;
}
.questionBlock label{
    cursor: pointer;
    width: 25%;
    background: #77fce2;
    margin: 2px 0;
    padding: 2px 4px;
    transition: all .5s;
    border-radius: 5px;
}
.questionBlock label:hover{
    background: #63dbc3;
    transform: scale(1.2)
}
.submitButtonBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitButton{
    font-size: 18px;
    border: none;
    background: darkgreen;
    color: white;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
.inputRadio{
    visibility: hidden;
}
.picked{
    background: #5ac7b1 !important;
    border-radius: 0px !important;
    transform: scale(1.2)
}
.error{
    color: red;
}